@charset "UTF-8";


body {
	background-image: url(/images/4032-3024.jpg);
	background-attachment: fixed;
}

header {
	background-color:rgba(255,255,255,1.0);
	border-radius: 10px;
	margin:0 auto;	
	z-index:10;
}

header #wrap {
	margin:0 auto;
	padding-top:5px;
	width:95%;
	height:80%;	
	display: flex;
    align-items: center;
}

header #wrap .logo {
	background-color:#ffffff;
	width:20%;
	height:40px;
}

header #wrap .menu {
	margin:0;
	padding:0;
	background-color:#ffffff;
	width:60%;
	height:40px;
}

header #wrap .menu ul {
	padding:0;
	margin:0;
	list-style:none;
}

header #wrap .menu ul li {
	padding:8px 5% 0 0;
	margin:0;
	float:left;
	font-size:1.0em;
}

header #wrap .login {
	background-color:#ffffff;
	width:20%;
	height:40px; 
}

header #wrap .login ul {
	padding:0;
	margin:0;
	list-style:none;
}

header #wrap .login ul li {
	padding:12px 5% 0 0;
	margin:0;
	float:right;
	font-size:0.9em;
}


#main {
	background-color:rgba(150,150,150, 0.8);
	border-radius: 10px;
	margin:10px auto;
	overflow:auto;
	padding-bottom:10px;
}

	
#content1 .picture {
	height:55%;
	border-radius:5px 5px 0 0;
}
#content1 .picture img {
	height:100%;
	width:100%;
	object-fit:fill;
	border-radius:5px 5px 0 0;
}

#content1 .title {
	max-height:45%;
	background-color:white;
	border-radius:0 0 5px 5px;
}

#content1 .title p:nth-child(1) {
	max-width:100%;
	margin:8px;
	font-size:0.9em;
}

#content1 .title p:nth-child(2) {
	margin:8px;
	max-width:100%;
	font-weight:bold;
	font-size:1.2em;
    white-space: normal;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

#content2 .banner {
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0 auto;
    border-radius:5px;
}

#content2 .banner img  {
    width:100%;
    height:100%;
    object-fit:cover;
}

#content1 .banner {
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0 auto;
    border-radius:5px;
}

#content1 .banner img  {
    width:100%;
    height:100%;
    object-fit:cover;
}

#content1 p {
	padding:5px 0 0 10px;
}

#myChart {
	padding:10px;
	max-width:100%;
	max-height:100%;
}

#content_2 .title {
	margin:0;
	padding:10px;
	font-weight:bold;
	font-size:1.2em;
}

#content_2 .content {
	padding:10px;
	font-weight:bold;
}

/* 게시글보기 start */
#content_all .boardTitle {
	font-size:1.3em;
	font-weight:bold;
	padding:20px;
	color:#616161;
}
	
#content_all .viewTitle {
	width:90%;
	padding:20px 0 0 0;
	margin:0 auto;
	font-size:1.4em;
	font-weight:bold;
	color:#2d2d2d;
}
	
#content_all .reginfo {
	width:90%;
	margin:0 auto;
	padding:5px;	
	font-size:0.9em;
}	

#content_all .viewContent {
	margin:0 auto;
	padding:0;
	width:90%;
}
/* 게시글보기 end */

#content_all hr {
	width:97%;
	border: 0;
	height:1px;
	background:#ccc;
}
	
	#content_all .fields {
		padding:10px;
	}
	
	#content_all .fields label {
		padding:10px;
		color:#616161;
	}
	
	#content_all input[type="text"] {
	    border-radius: 4px;
	    border: none;
	    border: solid 1px;
	    color:#c0c0c0;
	    outline: 0;
	    padding: 0 0.825rem;
	    text-decoration: none;
	    width:85%;
        height: 2.75rem;
	}
	
	#content_all input[type="text"]:focus {
		outline-color: transparent;
    	outline-style:solid;
    	box-shadow: 0 0 0 2px #969696;
	}
	
	#content_all .fields textarea {
		padding:0px;
	}
	
	#content_all .button {
		margin:0 0 0 10px;
		border-radius: 10px;
		background-color:#c0c0c0;
		color:#ffffff;
		border:none;
		min-height:40px;
		min-width:130px;
		font-size:1.0em;
		font-weight:bold;
	}
	
	#content_all .button:hover {
		background-color:#969696;
		transition: 0.7s;
	}
	
	#boardList table {
		margin:10px auto;
		width:90%;
		border-collapse: collapse;
    	border-spacing: 0;
	}
	
	#boardList table thead {
		height:50px;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		border-bottom: solid 2px #616161;
		color:#616161;
	}
	
	#boardList table tbody tr {
		height:50px;
		border-color: rgba(0, 0, 0, 0.2);
		border: solid 1px #616161;
    	border-left: 0;
    	border-right: 0;
    	color:#616161;
	}
	
	#boardList .paging_normal {
		height:60px;
		width:100%;
		text-align:center;
		font-size:1.2em;
	}
	
	#boardList .paging_mini {
		height:60px;
		width:100%;
		text-align:center;
		font-size:1.2em;
	}
	
	#boardList a {
		padding:7px;
		text-decoration-line: none;
		color:#54545c;
	}
	
	#boardList .paging_normal .active {
		text-align:center;
		font-weight:bold;
		background-color:#c0c0c0;
		border-radius:5px;
	}
	
	/* 메인 공지사항 start */
	#content2 .board_list p {
		padding:10px;
		margin:0;
		height:30px;
		font-weight:bold;	
		font-size:1.2em;
		color:#6e6e6e;
	}
	
	#content2 .board_list hr {
		width:97%;
		padding-top:0;
		margin-top:0;
	}
	
	#content2 .board_list .title_list div:nth-child(1) {
		margin:0;
		padding:0 0 0 10px;
		display: inline-block; /* block요소인 div를 inline으로 만들어준다. */
    	width: 78%;
    	text-align: left; /* 안의 내용 글자 정렬 */
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}
	#content2 .board_list .title_list div:nth-child(2) {
		margin:0;
		padding:0;
		display: inline-block; /* block요소인 div를 inline으로 만들어준다. */
    	width: 18%;
    	text-align: right; /* 안의 내용 글자 정렬 */
    	white-space: nowrap;
  		overflow: hidden;
  		color:#6e6e6e; 
	}
	
	#content2 .board_list .title_list a {
		text-decoration-line: none;
		color:#6e6e6e; 
	}
	/* 메인 공지사항 end */
	
	footer {
		background-color:rgba(150,150,150,0.7);
		border-radius: 10px;
		margin:0 auto;	
	}





