<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewDetail</display-name>
    <servlet-name>ViewDetail</servlet-name>
    <servlet-class>common.ViewDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetail</servlet-name>
    <url-pattern>/ViewDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>common.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxTest</display-name>
    <servlet-name>AjaxTest</servlet-name>
    <servlet-class>common.AjaxTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTest</servlet-name>
    <url-pattern>/AjaxTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxTest2</display-name>
    <servlet-name>AjaxTest2</servlet-name>
    <servlet-class>common.AjaxTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTest2</servlet-name>
    <url-pattern>/AjaxTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardList</display-name>
    <servlet-name>BoardList</servlet-name>
    <servlet-class>board.BoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardList</servlet-name>
    <url-pattern>/BoardList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>header</display-name>
    <servlet-name>header</servlet-name>
    <servlet-class>common.header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>header</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardInsert</display-name>
    <servlet-name>BoardInsert</servlet-name>
    <servlet-class>board.BoardInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardInsert</servlet-name>
    <url-pattern>/BoardInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardView</display-name>
    <servlet-name>BoardView</servlet-name>
    <servlet-class>board.BoardView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardView</servlet-name>
    <url-pattern>/BoardView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ckeditor5Upload</display-name>
    <servlet-name>ckeditor5Upload</servlet-name>
    <servlet-class>board.ckeditor5Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ckeditor5Upload</servlet-name>
    <url-pattern>/ckeditor5Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getImageForContents</display-name>
    <servlet-name>getImageForContents</servlet-name>
    <servlet-class>board.getImageForContents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getImageForContents</servlet-name>
    <url-pattern>/getImageForContents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdate</display-name>
    <servlet-name>BoardUpdate</servlet-name>
    <servlet-class>board.BoardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdate</servlet-name>
    <url-pattern>/BoardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageResizeTest</display-name>
    <servlet-name>ImageResizeTest</servlet-name>
    <servlet-class>board.ImageResizeTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageResizeTest</servlet-name>
    <url-pattern>/ImageResizeTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReserv</display-name>
    <servlet-name>UserReserv</servlet-name>
    <servlet-class>reserv.UserReserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReserv</servlet-name>
    <url-pattern>/UserReserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RservMng</display-name>
    <servlet-name>RservMng</servlet-name>
    <servlet-class>reserv.RservMng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RservMng</servlet-name>
    <url-pattern>/RservMng</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservMng</display-name>
    <servlet-name>ReservMng</servlet-name>
    <servlet-class>reserv.ReservMng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservMng</servlet-name>
    <url-pattern>/ReservMng</url-pattern>
  </servlet-mapping>
</web-app>